## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Mataura,NZ,55.00,Clouds,-46.1927,168.8643,Ellie's Villa
1,1,Jalalabad,AF,70.61,Clear,34.4265,70.4515,انصاف چهاردهي هوټل
2,2,Busselton,AU,52.00,Clouds,-33.6500,115.3333,Observatory Guest House
3,3,Athabasca,CA,41.00,Clouds,54.7169,-113.2854,Athabasca Lodge Motel
4,6,Chitungwiza,ZW,64.00,Clouds,-18.0127,31.0756,Damview Hotel

In [102]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""



# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [103]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Saldanha")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Saldanha")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Hermanus")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Plettenberg Bay")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "East London")] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
62,123,East London,ZA,73.4,Clear,-33.0153,27.9116,Tu Casa

In [186]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.iloc[0]['Lat'], vacation_start.iloc[0]['Lng'])
end = (vacation_end.iloc[0]['Lat'], vacation_end.iloc[0]['Lng'])
stop1 = (vacation_stop1.iloc[0]['Lat'], vacation_stop1.iloc[0]['Lng'])
stop2 = (vacation_stop2.iloc[0]['Lat'], vacation_stop2.iloc[0]['Lng'])
stop3 = (vacation_stop3.iloc[0]['Lat'], vacation_stop3.iloc[0]['Lng'])

In [187]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
round_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [104]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,101,Saldanha,ZA,69.80,Clear,-33.0117,17.9442,Blue Bay Lodge
1,52,Hermanus,ZA,66.00,Clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
2,647,Plettenberg Bay,ZA,74.93,Clear,-34.0527,23.3716,Thanda Vista B&B
3,123,East London,ZA,73.40,Clear,-33.0153,27.9116,Tu Casa

In [105]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [106]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))